<a href="https://colab.research.google.com/github/thfruchart/sio1/blob/master/CORRIGES/CORR_TP3_Exercice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TP3 Exercice 2

Situation étudiée : un centre d'examen doit convoquer un grand nombre de candidats. Sur sa convocation, chaque candidat possède un numéro de table. 
Dans une première salle, les tables sont disposées en 19 colonnes, sur 20 rangées

Ainsi, la table numéro 44 est situé dans la colonne n°6, au rang n°3.

Ecrire un programme python qui :
* demande à l'utilisateur de saisir son numéro de table
* calcule et affiche le n° de colonne et le n° de rang correspondant. 

Par exemple : 

    la table numéro 44 est située
    colonne n°:  6
    au rang n° :  3

In [3]:
n = int(input('Entrer le n° de table : '))
r = n % 19
q = n // 19
print('La table n°', n, 'est située')
print('colonne n°:', r)
print('au rang n°', q)

Entrer le n° de table : 240
La table n° 240 est située
colonne n°: 12
au rang n° 12

In [13]:
n = int(input('Entrer le n° de table : '))
n = (n-1)
r = n % 19 
q = n // 19 
print('La table n°', n+1, 'est située')
print('colonne n°:', r+1)
print('au rang n°', q+1)

Entrer le n° de table : 58
La table n° 58 est située
colonne n°: 1
au rang n° 4

In [16]:
n = 1
while n <= 0 :
    n = int(input('Entrer le n° de table : '))
    n = (n-1)
    r = n % 19 
    q = n // 19 
    print('La table n°', n+1, 'est située')
    print('colonne n°:', r+1)
    print('au rang n°', q+1)